html,
body {
    margin: 0;
    height: 100%;
    font-family: roboto;
    background: black;
}

@font-face {
    font-family: roboto;
    src: url("./media/font/Roboto-Regular.ttf");
}

#explain {
    color: white;
    text-align: center;
}

h1 {
    margin: 0.5em 1em;
}

p {
    margin: 0.3em 1em;
    color: rgba(256, 256, 256, 0.7);
    font-size: 90%;
}

a {
    font-size: 150%;
    color: blue;
}

#stats {
    color: white;
    text-align: center;
    font-size: 200%;
    margin: 1em;
}

.stats-text {}

.stats-span {
    color: #52a203;
    font-weight: bold;
    font-size: 120%;
}

#data {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5em;
    margin: 1em 0em;
}

.droid-container {
    max-width: 10em;
    max-height: 10em;
    position: relative;
}

.driod-acquired-text {
    position: absolute;
    top: 0;
    color: red;
    font-weight: bold;
    margin: 0.2em 0.2em;
}

.important-link {
    background: white;
    padding: 0.1em 1em;
    border-radius: 5px;
    display: inline-block;
    font-size: 200%;
    margin: 0.5em 0.5em;
}

.driod-acquired-who-container {
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translateY(50%) translateX(-50%);
    color: white;
    font-weight: bold;
    margin: 0.2em 0.2em;
    background: black;
    padding: 0.1em;
    width: 80%;
    text-align: center;
    font-size: 120%;
    border-radius: 5px;
    overflow: hidden;
    border: 1px solid white;
    display: flex;
    flex-direction: row;
}

.driod-acquired-who {
    flex: 1
}

.droid-name {
    position: absolute;
    bottom: 0;
    left: 0;
    /* width: 100%; */
    /* transform: translateX(-50%); */
    /* right: 0; */
    /* padding: 0 0.2em; */
    background: white;
    border-radius: 5px;
    padding: 0 0.3em;
    margin: 0 0.5em;
    font-size: 75%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.droid-img {
    width: 100%;
    border: 2px solid white;
    border-radius: 5px;
}

.found {}

.acquired {
    filter: contrast(200%) invert(100%) sepia(10%) saturate(0%) hue-rotate(90deg);
    opacity: 0.4;
}

.locked {
    filter: contrast(0%);
}

.faded {
    background-color: #bd4b4b;
}

.droid-count {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 200%;
    margin: 0.2em;
    background: white;
    padding: 0 0.3em;
    border: 2px solid;
    border-radius: 50%;
    opacity: 0.7;
}

.droid-data-type {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 60%;
    padding: 0.1em 0.3em;
    margin: 0.5em;
    border-radius: 50%;
    border: solid 1px;
}

.MANUAL {
    background: blue;
    color: white;
}

.AUTO {
    background: green;
    color: white;
}

.available {
    opacity: 1;
    filter: contrast(1);
}

.reserve {
    opacity: 0.7;
    filter: contrast(0.6);
}

.not-out-yet-text {
    position: absolute;
    color: white;
    top: 0;
    transform-origin: center;
    transform: translateX(-50%);
    /* white-space: nowrap; */
    left: 50%;
    width: 100%;
    /* text-align: center; */
    font-size: 100%;
    margin: 5px 5px;
}

.stat-line {
    display: inline-block;
    margin-right: 1em;
}

.current-out-label {
    color: #52a203;
    font-weight: bold;
    font-size: 120%;
}


.generic-dialog-container {
    background: white;
    padding: 0.3em 0.5em;
    font-size: 110%;
    border-radius: 5px;
    /* max-width: 60%; */
    box-shadow: 1px 1px 4px 2px;
}

.generic-dialog-container-inner {
    /* max-width: 25em; */
}

#generic-dialog {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    white-space: nowrap;
}

.image-container {
    position: relative;
}

.x-button {
    position: absolute;
    bottom: 0;
    left: 0;
    background: white;
    padding: 0.1em 0.3em;
    border-radius: 50%;
    margin: 0.3em 0.2em;
    border: solid;
}